@import "bower_components/pcss/src/pcss"
@import "bower_components/pcss/src/pcss-extras"

body
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Helvetica, sans-serif

.emoji
  cursor: pointer
  height: 128px
  display: inline-block
  margin-bottom: $md
  position: relative
  width: 128px

  &:hover
    .emoji-alias
      display: block

.emoji-alias
  background-color: $brand
  bottom: 0
  color: $white
  display: none
  font-size: $sm
  left: 0
  position: absolute
  right: 0
  text-align: center
  z-index: 1

a
  color: $brand

input[type="search"]
  border: 0
  color: $gray
  font-size: $md
  padding-bottom: $sm
  padding-top: $sm
  text-align: center
  width: 100%

  &::-webkit-input-placeholder
    color: $gray
